body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to right, #f0f8ff, #f8faff);
    border-radius: 5px;
}

h2 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #DC3545;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}




.custom-file-button {
    /* background-color: #FF6633;
     */

     background-color: #f0f0f0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    /* Important for positioning the pseudo-element */
    overflow: hidden;
    /* Potentially hide the default file input text  */
    background: linear-gradient(to right, #FF8855, #FF4411);
    /* Example gradient */
}

.custom-file-button::before {
    content: "Choose File";
    position: absolute;
    /* Allows precise placement */
    font-size: 12px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #FF6633; */
    /* Match the button color */
    color: #fff;
    display: flex;
    /* Help with centering */
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    background: linear-gradient(to right, #007bff, #0062cc);
    /* background: linear-gradient(to right, #FF6633, #FF3300); */
    /* background: linear-gradient(to right, #FF8855, #FF4411); */

    /* background-color: #59D5E0; */
    /* Match the gradient */
    /* Match the gradient */
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.custom-file-button {
    /* Other styles */
}

.custom-file-button::before {}

.custom-file-button:hover::before {
    /* color: #333; */
    /* box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.808); */
    /* Slightly stronger shadow */
    /* box-shadow: 2px 4px 810px rgba(0, 0, 0, 0.851); */
    /* Slightly stronger shadow */
}


button[type="submit"] {
    background-color: #FF6633;
    color: #fff;
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #cc5522;
}