body {
    font-family: Arial, sans-serif;
    font-family: 'Roboto', sans-serif; 
    background: linear-gradient(to right, #e0f2fe, #e0f2fe); /* Subtle gradient */
    background: linear-gradient(to right, #318cc9, #e0f2fe); /* Subtle gradient */
    /* background: linear-gradient(to right, #caced1, #237fbc); Subtle gradient */
    background-size: 400% 400%; 
    animation: backgroundAnimation 10s ease infinite; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; } 
}

body {
    /* Modern font */
    background-color: #f8f8f8; 
    /* Light, neutral background */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px; /* Limit the form's width */
    text-align: center; 
}

.form-box h2 {
    color: #333;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px; 
}

.input-group label {
    display: block;
    text-align: left; 
    margin-bottom: 5px; 
    font-weight: 500; 
}

.input-group input {
   width: 100%; 
   padding: 12px;
   border: 1px solid #ddd;
   border-radius: 4px;
   font-size: 16px; 
} 

button[type="submit"] {
   background-color: #007bff; /* Trustworthy blue */
   color: #fff;
   border: none;
   padding: 12px 25px;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Slightly darker on hover */
}
